<% @answers.each do |answer|%>
<p> Question: <%= answer[:quiz].question %></p>
<p> You got a.............: <%= answer[:right]? "Correct Answer!" : "Wrong!!" %></p>
<p> Correct Answer: <%= answer[:quiz].answer %></p>
<% end %>
<p>WELL DONE</p>