<h1>Your Quiz List (5 Questions!!!)</h1>

<% @random_quiz_questions.each do |quiz| %>
<p><%= quiz.question %></p><br>
<%= image_tag(quiz.image_url) %>

<% end %>

<style>/*
<= image_tag(quiz.image_url) >
can not populate image as quiz does not belong to image (there is no structure like one image has many questions related to itself)
*/<style>



<%= submit_tag "Submit Answers" %>
<% end %>

<% hidden_field_tag "quiz[]", quiz.id %>