<h1>Your Quiz List (5 Questions!!!)</h1>

<% @random_quiz_questions.each do |quiz| %>

<% end %>

<style>/*
<= image_tag(quiz.image_url) >
can not populate image as quiz does not belong to image (there is no structure like one image has many questions related to itself)
*/<style>