<div class="container text-center">
<h1>Quiz Results</h1>
<%= form_tag quiz_results_path do%>

<% @answers.each do |answer|%>

<p> Question: <%= answer[:quiz].question %></p>
<p> You got this question <%= answer[:right]? "Correct Answer!" : "Wrong!!" %></p><br>
<% end %>

<%end%>
<br><%= link_to "Save Results", quiz_results_path%>
</div>